@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
.menu{
    font-family: 'Epilogue', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.agency{  font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    height: 32px;
    right: 0%;
    top: calc(50% - 32px/2 + 1px);}
    .menu a{
        text-decoration: none;
        color: white;
        font-size: 16px;
        line-height: 32px;
      }
      .agency a {
        text-decoration: none;
        color: white;
      }
      .contactbtn{
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 900;
        font-size: 14px;
        line-height: 14px;
        top: calc(50% - 32px/2 + 1px);
     
        
      }
      .portfolio{
        font-family: 'Epilogue';
font-style: normal;
font-weight: 800;
font-size: 72px;
line-height: 80px;
color: white;
      }
      .textAgency{
font-family: Epilogue;
font-size: 16px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0px;
text-align: center;
color: rgba(255, 255, 255, 0.64);

        
      }
      .showAllPage{
        font-family: 'Epilogue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
      }

      .items{
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 48px;
  
      }
      .btn-loadmore{
        font-family: Epilogue;
font-size: 14px;
font-weight: 900;
line-height: 14px;
letter-spacing: 0px;
text-align: center;

      }
.dreamprojectpage .help{
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #FFFFFF;

  width: 368px;
  height: 192px;
  margin-left: 100px;
  margin-top: 96px;
}
.dreamprojectpage .digital{
  position: absolute;
  width: 470px;
  height: 66px;
  margin-left: 100px;
  margin-top: -20px;

  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  
  color: rgba(255, 255, 255, 0.64);
}
.btn-contactnow{
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  

}
.btn{
  font-family: 'Epilogue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
}

.footeragency{
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
.footermenu{
  font-family: 'Epilogue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;

}
.footermenu a{
  text-decoration: none ;
  color: black;
}
.footermenu li{
  list-style-type: none;
}
.footermenu .menured a{
  color: #EF6D58;
  font-family: 'Epilogue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
}
.footermenu2{
  font-family: 'Epilogue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;

}
.footermenu2 a{
  text-decoration: none ;
  color: black;
}
.footermenu2 li{
  list-style-type: none;
}
.footermenu2 .servicesred a{
  color: #EF6D58;
  font-family: 'Epilogue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
}
.icons{
  font-size: 38px;
  color: #EF6D58;
}
.copyright{
  position: absolute;
width: 351px;
height: 32px;
left: 135px;
top: 3400px;


font-family: 'Epilogue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;


color: rgba(57, 20, 0, 0.64);
}
.terms{
  
position: absolute;
width: 102px;
height: 32px;
left: 1030px;
top: 3400px;
font-family: 'Epilogue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
text-align: right;
color: #391400;
}
.policy{
  
position: absolute;
width: 105px;
height: 32px;
left: 1200px;
top: 3400px;
font-family: 'Epilogue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
text-align: right;
color: #391400;
}