.contactbtn{

color: white;
background-color: transparent ;
border-color: white;
border-radius: 6px;
height: 48px;
width: 138px;
border-width: 1px;
position: absolute;
right: 171px;
top: 52px;
text-align: center;
cursor: pointer;

  }
  .btn{
    height: 36px;
    width: 84px;
    border-radius: 19px;
    border-color: transparent;
    margin-top:234px;
margin-left: 50px;
position: absolute;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
  }
  .btn-loadmore{

    height: 48px;
    width: 170px;
    border-radius: 6px;
    border-color: transparent;
    margin-top:50px;
margin-left: 50px;
background: rgb(255, 255, 255);
color: rgb(0, 0, 0);
box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);

  }
  .btn-contactnow{
    position: absolute;
    height: 48px;
    width: 170px;
    border-radius: 6px;
    border-color: transparent;
    margin-top:420px;
margin-left: -1050px;
background: rgb(255, 255, 255);
color: rgb(0, 0, 0);
box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);


  }