.dreamProject{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.dreamprojectpage{
width: 90%;
height: 544px;
background: #EF6D58;
border-radius: 6px;
top: 1000px;
}
img{
    position: absolute;
    margin-left: 286px;
    margin-top: 50px;
}