.footeragency{
    position: absolute;
width: 90px;
height: 32px;
left: 90px;
top: 3070px;

}
footer{
    height: 100vh;
    width: 100%;
    display: flex;
    text-decoration: none;

}

.footermenu{
    position: absolute;
    left: 450px;
    margin-top: -112px;
}
.footermenu2{
    position: absolute;
    left: 900px;
    margin-top: -112px;
}
.icons{
    position: absolute;
    left: 1350px;
    margin-top: -112px;
}
 hr{
    margin-top: -600px;
    width: 90%;
 }